body {
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 13px;
    width: 250px;
    margin: 0;
    color: #545454;
    background-color: #f8f6f2;
}

header {
    height: 85px;
}

#logo {
    display: block;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 64px;
    height: auto;
}

#wrapper {
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
    list-style-type: none;
    white-space: nowrap;
    border-top: 1px dashed #a5a4a1;
}

li ul {
    margin-left: 35px;
}

li li {
    cursor: default;
    padding: 10px 15px;
}

.menu-item {
    padding: 10px 15px;
}

.menu-item:hover {
    background-color: #ece7df;
}

.menu-item > div {
    margin-top: 5px;
}

.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    vertical-align: top;
}

#enabled-yes strong {
    font-weight: normal;
    color: #12610e;
}

#enabled-no strong {
    font-weight: normal;
    color: #ac0505;
}

#enabled .icon {
    background-image: url('../images/ok.png');
}

body.disabled #enabled .icon {
    background-image: url('../images/no.png');
}

#enabled-no,
body.disabled #enabled #enabled-yes {
    display: none;
}

body.disabled #enabled #enabled-no {
    display: inline;
}

select, input {
    display: inline-block;
    height: 2.25em;
    padding: .5em .6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
    box-shadow: inset 0 1px 3px #ddd;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: white;
    border: 0 rgba(0, 0, 0, 0);
    background-color: #0078e7;
    text-decoration: none;
    border-radius: 2px;
}

button:hover {
    background-color: #0098e7;
}

#chooseAlgorithm {
    width: 150px;
}

#rotnNumber {
    width: 75px;
}

.info {
    color:#a5a4a1;
    font-size: 8pt;
    white-space: normal;
    text-align: center;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}